.container {
    text-align: center;
  }
  
  
  /* Centra verticalmente el contenido */
  .d-flex.align-items-center {
    height: 100%; /* Utiliza toda la altura del contenedor padre */
  }
  .cemento-bg {
    background-color: #A6A4A4; /* Color gris claro para simular el cemento */
    border-radius: 4px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno para separar el texto del borde */
    background-image: 
      radial-gradient(circle at 10% 20%, #A6A4A4 10%, transparent 10%),
      radial-gradient(circle at 90% 20%, #A6A4A4 10%, transparent 10%),
      radial-gradient(circle at 50% 50%, #A6A4A4 10%, transparent 10%),
      radial-gradient(circle at 90% 80%, #A6A4A4 10%, transparent 10%),
      radial-gradient(circle at 10% 80%, #A6A4A4 10%, transparent 10%);
    background-size: 20px 20px; /* Tamaño de la textura */
    background-position: 0 0, 100% 0, 100% 100%, 0 100%, 50% 50%; /* Posición de los gradientes */
  }
  